.slider-body{
    margin: 50px 0px 50px 0px;
}

.slider-two {
    padding: 0 0 5px;
}
.slider-two .slides-two img {
    max-width: auto;
    padding: 2vh;
    height: auto;
    max-height: 550px;
    
}
.slider-two.is-admin:before {
    display: block;
    /* content: ""; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    position: absolute;
    z-index: 1;
}

.block-slider-two{
    width: 70%;
    margin: 0 auto;
    overflow-x: hidden;
}


.slider-two-block{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 15%;
}

@media(max-width: 1024px) {
    .block-slider-two{
        width: 82%;
    }
    .slider-two-block{
        margin-top: 20%;
    }

}

@media(max-width: 992px) {
    .slider-two-block{
        margin-top: 25%;
    }

}

@media(max-width: 767px) {
    .slider-two-block{
        margin-top: 50%;
    }

}


.slider-two-block :hover{
    cursor: pointer;
}

.next-slider-two{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 16px;
    margin-left: 8%;
    z-index: 100;
    transition: 0.3s;
}

.next-slider-two:hover{
    background-color: #6F23B6;
}

.prev-slider-two{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 16px;
    margin-right: 8%;
    z-index: 100;
}

.prev-slider-two:hover{
    background-color: #6F23B6;
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #E8E9ED;
    font-size: 12px;
  }
  
  .slick-dots li button {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: none;
  }
  
  .slick-dots li button::before {
    font-size: 12px !important;
  }
  
  .slick-active button::before {
    color: #6F23B6 !important;
  }